.container{
    display: flex;
    justify-content: space-between;
    overflow-y:hidden ;
    background-color: #f8faff;
    width: 100vw;
    height: 100vh;
}
.loginmain{
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    padding: 60px 73px;

}

.logomain{
    color: white;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    z-index: 10;

}

.logocontainer{
    margin: auto;

}

.logocontainer>h1{
    color: white;
    font-weight: 700;
    font-size: 72px;
    position: relative;
    z-index: 10;

}

.socialicons{
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: repeat(4,1fr);

}
.socialicons>img{
    width: 42px;
    height: 41px;
    transition: ease-in;
    cursor: pointer;
}
.socialicons>img:hover{transform: scale(1.1);}

.leftside{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: url("Leftside.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sidebarcontainer{
    background: #4161df;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    display: none;
    margin-bottom: 1.5rem;
}

.sidebarcontainer>h1{
    color: white;
    font-size: 20px;
}

.sidebarlogo{
    margin: auto;
}

.sidebarlogo>h1{
    color: white;
    font-weight: 700;
    font-size: 2.25rem;
}

.closeicon{
    width: 2rem;
}
.closeicon>h1{
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.rightcontainer{
    width: 60%;
    height: auto;
    margin-bottom: 0%;
}

.rightcontainermain{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: center;
}
.rightcontainermain>h1{
    font-size: 1.75rem;
    font-weight: 700;
}
.rightcontainermain>h3{
    font-size: 16px;
    margin-top: 6px;
}
.signinoptions{
    gap: 1.5rem;
    display: flex;
    width: 100%;
    margin: 1.5rem 0;
    align-items: center;
    justify-content: space-between;

}

.signinbutton{
    padding: 9px 21px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.signinbutton>p{
    font-size: 12px;
    margin-left: 11px;

}

.formcontainer{
    display: flex;
    flex-direction: column;

}

.loginform{
    background: white;
    border-radius: 20px;
    padding: 33px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inputdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.inputdiv>label{
    font-size: 16px;

}

.inputdiv>input{
    font-size: 16px;
    border-radius: 10px;
    background: #f5f5f5;
    padding: 0.5rem 1rem;
}

.forgotdiv{
    font-size: 16px;
    cursor: pointer;
    color: #4161df;

}

.submitdiv{
    background: #4161df;
    font-size: 16px;
    font-weight: 700;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 0.75rem 0;
}

.registerdiv{
    width: 100%;
    text-align: center;
    font-size: 16px;

}

.registerdiv>span{
    font-weight: 400;
    cursor: pointer;
    color: #4161df;
}

@media (max-width:1040px) {
    .socialicons{
        width: 66.67%;
    }
    .rightcontainer{
        height: calc(100vh - 8rem);
    }
}

@media (max-width:760px) {
    .container{
        flex-direction: column;
    }
    .loginmain{
       width: 40%;
       padding: 0;
       display: none;
    }
    .sidebarcontainer{
        display: flex;
    }
    .rightcontainer{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .rightcontainermain{
        width: 75%;
    }
}